.contactsearch-title-bg {
    top: 0%;
    max-height: 100px;
    width: 100%;
}
.contactsearch-title-text {
    position: absolute;
    top: 0%;
    left: 40%; 
    font-size: 40px;
    color: white;
    transition: all 500ms linear;
}
.contactsearch-title-text.active {
    left: 50%;
    transition: all 500ms linear;
}
.contactsearch-head-text {
    margin-left: 100px;
    margin-top: 50px;
    font-size: 30px;
    color: black;
    margin-bottom: 50px;
}
.auditlog-main {
    /* overflow:hidden; */
    width: 100%;
    transition: all 500ms linear;
    background-color: #EFEFEF;
    background-size: 100%;
}
.auditlog-main.active {
    margin-left: 200px;
    transition: all 500ms linear;
    width: calc(100% - 200px);
}
.auditlog-filter {
    margin-left: 100px;
    margin-bottom: 30px;
}
.home-sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #FFFFFF;
    left: -200px;
    transition: all 500ms linear;
}
.home-sidebar.active {
    left: 0px;
}
/* hamburger icon */
.home-burger {
    display: block;
    width: 30px;
    height: 3px;
    background: #FFFFFF;
    margin: 5px 0px;
}
.home-toggle-btn {
    position: absolute;
    left: 30px;
    top: 20px;
    transition: all 500ms linear;
}
.home-toggle-btn.active {
    left: 230px;
    transition: all 500ms linear;
}
.home-nav {
    margin: 0px;
    padding: 0px;
}
.home-nav-text {
    list-style: none;
    padding: 30px 55px;
    font-size: 12px;
}
.home-no-hyperlink {
    text-decoration: none;
    color: black;
}
.home-profile-bg {
    width: 200px;
}
.home-profile-pic {
    position: absolute;
    left: -200px;
    top: 30px;
    transition: all 500ms linear;
}
.home-profile-pic.active {
    left: 10px;
    transition: all 500ms linear;
}
.home-home-icon {
    position: absolute;
    left: -200px;
    top: 226px;
    transition: all 500ms linear;
}
.home-home-icon.active {
    left: 20px;
    transition: all 500ms linear;
}
.home-profile-icon {
    position: absolute;
    left: -200px;
    top: 300px;
    transition: all 500ms linear;
}
.home-profile-icon.active {
    left: 20px;
    transition: all 500ms linear;
}
.home-search-icon {
    position: absolute;
    left: -200px;
    top: 374px;
    transition: all 500ms linear;
}
.home-search-icon.active {
    left: 20px;
    transition: all 500ms linear;
}
.home-log-icon {
    position: absolute;
    left: -200px;
    top: 448px;
    transition: all 500ms linear;
}
.home-log-icon.active {
    left: 20px;
    transition: all 500ms linear;
}
.home-out-icon {
    position: absolute;
    left: -200px;
    top: 522px;
    transition: all 500ms linear;
}
.home-out-icon.active {
    left: 20px;
    transition: all 500ms linear;
}
